@model Entity.Concrete.Message

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<html>
<head>
    <title>Oppdater Profil </title>
    <style>
        .custom-form {
        	border: 1px solid #ccc;
        	padding: 20px;
        	border-radius: 10px;
        	margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 custom-form">
            <h1 class="text-center">Opdater Message</h1>
            <form asp-controller="AdminMessage" asp-action="Update" asp-area="Admin" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Navn:</label>
                    <input type="text" id="title" asp-for="Name" class="form-control" value="@Model.Name"  placeholder="Navn">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="hidden" id="title" asp-for="Id" class="form-control" value="@Model.Id">
                </div>
                <div class="form-group">
                    <label for="title">E post:</label>
                    <input type="text" id="title" asp-for="Email" class="form-control" value="@Model.Email"  placeholder="E-post">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br/>
                
                <div class="form-group">
                    <label for="title">Subject:</label>
                    <input type="text" id="title" asp-for="Subject" class="form-control" value="@Model.Subject" placeholder="Emne">
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="title">Melding:</label>
                    <textarea type="text" id="title" asp-for="MessageText" rows="5" class="form-control" value="@Model.MessageText" placeholder="Melding"></textarea>
                    <span asp-validation-for="MessageText" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.IsRead" />
                </div>
                <br/>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.CreatedAt" />
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-edit"></i> Lagre</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


