@model List<Entity.Concrete.Destination>
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
<br/>
<div class="table-responsive text-nowrap">
</div>

<div class="card">
    <h3 class="card-header" style="text-align: center;">Vår Destanasjoner</h3>
    <div class="table-responsive text-nowrap">
      
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Reisemål</th>
                <th>Beskrivelse</th>
                <th>Pris</th>
                <th>Antall Kapasitet</th>
                <th>Actions</th>
                <th>Actions</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.ImageUrl" alt="Avatar" class="rounded-circle" style="max-width: 50px; max-height: 50px;"/></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.City</strong></td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td><span class="badge bg-label-primary me-1">@item.Capacity</span></td>
                    <td>
                        <a class="dropdown-item" href="/Destination/Details/@item.Id/"><i class="bx bx-info-circle me-1 text-success"></i> Detaljer</a>
                    </td>
                    <td>
                        <a class="dropdown-item" href="/Admin/AdminDestination/Edit/@item.Id"><i class="bx bx-edit-alt me-1 text-warning"></i> Rediger</a>
                    </td>
                    <td>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="showDeleteConfirmation('@item.Id')"><i class="bx bx-trash me-1 text-danger"></i> Slette</a>
                    </td>
                    <td>
                        <a class="dropdown-item" href="/Destination/Index/"><i class="bx bx-link-external me-1 text-dark"></i> Se på nettstedet</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <br/>
        <br/>
        <button class="btn btn-primary" onclick="window.location.href='/Admin/AdminDestination/Add'"><i class="fa fa-plus"></i> Legg til ny destinasjon</button>
        <br/>
        <br/>
        <br/>
        <br/>
        
    </div>
</div>

<script>
    function showDeleteConfirmation(id) {
        if (confirm("Er du sikker på at du vil slette dette?")) {
            window.location.href = "/Admin/AdminDestination/Delete/" + id;
        }
    }
</script>